html {
  box-sizing: border-box;
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}

img {
  display: block;
}
